.Board {
  border-radius: 10px;
  background: #EBECF0;
  padding: 12px;
  height: fit-content;
  max-height: calc(100vh - 250px);
  //overflow-y: auto;
}

.Board__header {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}

.Board__footer {
  margin-top: 15px;
}

.Tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  overflow-y: auto;
  max-height: calc(100vh - 400px);
}