.AddCardBtn {
  all: unset;
  padding: 4px;
  cursor: pointer;
  color: #5E6C84;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 2px;
  width: fit-content;
}

.AddCardBtn:hover {
  border-radius: 5px;
  background: #FFF;
}